<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/builded.css">
    <title>Back-office | Expenergie</title>
</head>
<body class="bg-platinum-base">
<div class="p-8 flex flex-col gap-8">
    <div class="flex justify-between items-center">
        <p class="font-serif text-4xl font-bold">Back-office</p>
        <a class="text-platinum-4 hover:text-blue-techno-base hover:scale-110 shadow-lg rounded-full p-3 transition-all ease-in-out duration-300" href="/logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                <g fill="none" stroke="#999" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M12 4h-7c-0.55 0 -1 0.45 -1 1v14c0 0.55 0.45 1 1 1h7" />
                    <path d="M9 12h11.5" />
                    <path d="M20.5 12l-3.5 -3.5M20.5 12l-3.5 3.5" />

                    <path stroke="currentColor" stroke-dasharray="36" stroke-dashoffset="36" d="M12 4h-7c-0.55 0 -1 0.45 -1 1v14c0 0.55 0.45 1 1 1h7">
                        <animate id="a1" fill="freeze" attributeName="stroke-dashoffset" dur="0.25s" values="36;0" begin="g1.mouseover" />
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.25s" values="0;36" begin="g1.mouseout" />
                    </path>
                    <path stroke="currentColor" stroke-dasharray="14" stroke-dashoffset="14" d="M9 12h11.5">
                        <animate id="a2" fill="freeze" attributeName="stroke-dashoffset" dur="0.1s" values="14;0" begin="a1.end" />
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.1s" values="0;14" begin="g1.mouseout" />
                    </path>
                    <path stroke="currentColor" stroke-dasharray="6" stroke-dashoffset="6" d="M20.5 12l-3.5 -3.5M20.5 12l-3.5 3.5">
                        <animate id="a3" fill="freeze" attributeName="stroke-dashoffset" dur="0.1s" values="6;0" begin="a2.end" />
                        <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.1s" values="0;6" begin="g1.mouseout" />
                    </path>
                </g>
                <rect width="24" height="24" opacity="0" id="g1"/>
            </svg>
        </a>
    </div>

    <div class="flex gap-8 w-full">
        <div class="shadow-lg rounded-2xl p-4 w-1/2 flex flex-col gap-4">
            <p class="font-serif text-2xl font-semibold text-center">
                Page <a href="/faq" class="redirect" target="_blank">"FàQ"</a>
            </p>
            <hr>
            <div class="flex flex-col gap-2">
                <div class="flex justify-between">
                    <div class="font-serif text-xl">
                        Question :
                    </div>
                    <div class="font-serif text-xl text-center">
                        Actions :
                    </div>
                </div>
                {% for question in questions %}
                    <div class="faq-question flex flex-col px-3 py-2 bg-platinum-1 rounded-xl">
                        <div class="flex justify-between gap-4 text-justify">
                            <div class="font-serif">
                                {{ question.title }}
                            </div>
                            <div class="flex gap-2 justify-between">
                                <div class="text-platinum-4 hover:text-yellow-400 hover:scale-105 transition-all ease-in-out duration-300 hover:cursor-pointer flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="m14.06 9l.94.94L5.92 19H5v-.92zm3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94z" />
                                    </svg>
                                    <p class="font-serif">Modifier</p>
                                </div>
                                <div class="text-platinum-4 hover:text-red-400 hover:scale-105 transition-all ease-in-out duration-300 hover:cursor-pointer flex items-center" onclick="showModal({{ question.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3" />
                                    </svg>
                                    <p class="font-serif">Supprimer</p>
                                </div>
                            </div>
                        </div>
                        <div class="answer overflow-hidden transition-all duration-300 ease-in-out" style="max-height: 0;">
                            <p class="font-serif p-4 text-justify md:mr-16">{{ question.answer }}</p>
                            {% if question.link %}
                                <a class="font-serif p-4 text-justify md:mr-16 text-blue-techno-base hover:underline" href="{{ question.link }}" target="_blank">{{ question.link }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="shadow-lg rounded-2xl p-4 w-1/2 flex flex-col gap-4">
            <p class="font-serif text-2xl font-semibold text-center">
                Page <a href="/installations" class="redirect" target="_blank">"Installations"</a>
            </p>
            <hr>
        </div>
    </div>
</div>

<div onclick="closeModal()" id="modal-background" class="hidden opacity-70 fixed inset-0 bg-charcoal-base z-40 duration-1000 transition-all ease-in-out transform"></div>

<div id="modalSuppression"
     class="modal hidden w-full sm:w-1/2 bg-platinum-base fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all transform duration-500 p-5 rounded-2xl z-50 shadow-2xl">
    <div class="flex flex-col gap-5 my-5">
        <p class="font-serif text-xl font-semibold">Êtes-vous sûr de vouloir supprimer cette question ?</p>
        <p class="font-serif">Cette action est irréversible.</p>
        <div class="flex gap-3 justify-end">
            <div onclick="deleteQuestion(this)" class="rounded-2xl border-2 border-red-500 py-1 px-3 font-serif text-red-500 hover:cursor-pointer hover:bg-red-500 hover:text-platinum-base ease-in-out transition-all duration-500">
                Supprimer
            </div>
            <input id="idQuestion" value="" hidden>
            <div onclick="closeModal()" class="rounded-2xl border-2 border-blue-techno-base py-1 px-3 font-serif text-blue-techno-base hover:cursor-pointer hover:bg-blue-techno-base hover:text-platinum-base ease-in-out transition-all duration-500">
                Fermer
            </div>
        </div>
    </div>
</div>


<footer class="flex flex-col g-2 items-center justify-center p-6 font-serif">
    <p>© 2024 Expenergie - Tous droits réservés</p>
    <p class="text-platinum-3">Conçu et développé par <a href="https://esteban-desessard.fr" target="_blank" class="underline">Estéban DESESSARD</a></p>
</footer>

</body>

<script src="assets/js/office.js"></script>